# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv'

flights = pd.read_csv(url)

In [2]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [3]:
A = flights[~(flights.dep_time.isnull())]
A1 = A.groupby(['month','day']).head(2)
A2 = A.groupby(['month','day']).tail(2)
A3 = A1.append(A2)
A3.sort_values(by=['month','day'])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
836,2013,1,1,2353.0,2359,-6.0,418.0,442,-24.0,B6,707,N794JB,JFK,SJU,185.0,1598,23,59,2013-01-02T04:00:00Z
837,2013,1,1,2356.0,2359,-3.0,425.0,437,-12.0,B6,727,N588JB,JFK,BQN,186.0,1576,23,59,2013-01-02T04:00:00Z
842,2013,1,2,42.0,2359,43.0,518.0,442,36.0,B6,707,N580JB,JFK,SJU,189.0,1598,23,59,2013-01-03T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110505,2013,12,30,2356.0,2200,116.0,154.0,2339,135.0,B6,985,N279JB,JFK,RDU,93.0,427,22,0,2013-12-31T03:00:00Z
110520,2013,12,31,13.0,2359,14.0,439.0,437,2.0,B6,839,N566JB,JFK,BQN,189.0,1576,23,59,2014-01-01T04:00:00Z
110521,2013,12,31,18.0,2359,19.0,449.0,444,5.0,DL,412,N713TW,JFK,SJU,192.0,1598,23,59,2014-01-01T04:00:00Z
111278,2013,12,31,2355.0,2359,-4.0,430.0,440,-10.0,B6,1503,N509JB,JFK,SJU,195.0,1598,23,59,2014-01-01T04:00:00Z
111279,2013,12,31,2356.0,2359,-3.0,436.0,445,-9.0,B6,745,N665JB,JFK,PSE,200.0,1617,23,59,2014-01-01T04:00:00Z

In [4]:
X1 = flights[flights.dep_time.isnull()]
X1.groupby(['carrier','origin']).agg(
    Canceled_Flights = ('flight','count')
)

                Canceled_Flights
carrier origin
9E      EWR                   68
        JFK                  807
        LGA                  169
AA      EWR                   99
        JFK                  141
        LGA                  396
AS      EWR                    2
B6      EWR                   74
        JFK                  315
        LGA                   77
DL      EWR                   39
        JFK                  100
        LGA                  210
EV      EWR                 2164
        JFK                   82
        LGA                  571
F9      LGA                    3
FL      LGA                   73
MQ      EWR                  168
        JFK                  327
        LGA                  739
OO      LGA                    3
UA      EWR                  435
        JFK                   44
        LGA                  207
US      EWR                   75
        JFK                   26
        LGA                  562
VX      EWR                   10
        JFK                   21
WN      EWR                  105
        LGA                   87
YV      LGA                   56

In [5]:
X1 = flights.groupby('carrier').dep_delay.mean()
X1.sort_values(ascending=False).head(2)

carrier
F9    20.215543
EV    19.955390
Name: dep_delay, dtype: float64

In [6]:
X1 = flights[~(flights.arr_delay.isnull())]
X1.sort_values(by=['arr_delay']).tail(2).tailnum

235778    N504MQ
7072      N384HA
Name: tailnum, dtype: object

In [7]:
flights[(flights.arr_delay > 60)].groupby('tailnum').agg({
    'flight': 'count'
})

         flight
tailnum
D942DN        1
N0EGMQ       30
N10156       15
N102UW        2
N104UW        4
...         ...
N997DL        5
N998AT        3
N998DL        8
N999DN        6
N9EAMQ       21

[3371 rows x 1 columns]

In [8]:
X1 = flights[~(flights.dep_time.isnull())]
X1

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336765,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-10-01T02:00:00Z
336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-10-01T02:00:00Z
336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-10-01T02:00:00Z
336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-10-01T02:00:00Z
336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-10-01T03:00:00Z